// Place all the styles related to the cinemas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.list_container{
//  display: inline-block;
//  width:70%;
//  border: thin gray;
//}
.film_container{
  border: .3px solid;
  margin: 0 auto;
  border-radius: 10px;
  width: 50%;
  height: auto;
  background-color: #8E9C1F;
}

